* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.App {
  text-align: center;
  display: flex;
}
body {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.App {
  border: 2px solid black;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 30vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}
.upper-header,
.lower-header {
  width: 92%;
  height: 49%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.upper-header > div:nth-child(3) {
  width: 6%;
}
.lower-header > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 192, 255, 0.884);
  height: 100%;
  border-radius: 50%;
  width: 12%;
}
.lower-header > div:nth-child(3) > svg {
  height: 5%;
  width: 5%;
}

.upper-header > div:nth-child(2) > b {
  font-family: "Inconsolata", monospace;
  color: blue;
  font-size: xx-large;
}

.lower-header > div:nth-child(2) {
  font-family: "Inconsolata", monospace;
  color: rgb(2, 2, 22);
  font-size: x-large;
  background: rgba(109, 250, 109, 0.726);
  width: 42%;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-header > div:nth-child(1) {
  height: 100%;
  background-color: rgba(253, 192, 113, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 12%;
}
.lower-header > div:nth-child(1) > svg {
  height: 60%;
  width: 60%;
}

.content {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  height: 75%;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
}
.content > h2 {
  text-align: center;
}
.content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content > div > img {
  width: 48%;
  height: 100%;
}
.content::-webkit-scrollbar {
  display: none;
}
.footer {
  background-color: rgba(219, 219, 219, 0.664);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 7%;
  border-radius: 10px;
}

.footer > div:first-child {
  height: 90%;
  width: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 0.2rem;
}
.footer > div:first-child > label:first-child {
  padding-top: 5px;
  font-size: small;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer > div:first-child > label:last-child {
  font-size: x-large;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.footer > div:nth-child(2) > label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.footer > div:nth-child(2) > img {
  padding-bottom: 5px;
}

.footer > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.2rem;
  width: 10%;
  height: 100%;
}
.footer > div:last-child > img {
  height: 65%;
  width: 65%;
}
